@import "tailwindcss";


@theme {
  --color-background: var(--color-background);
  --color-surface: var(--color-surface);
  --color-surfaceHover: var(--color-surfaceHover);
  --color-primary: var(--color-primary);
  --color-primaryHover: var(--color-primaryHover);
  --color-secondary: var(--color-secondary);
  --color-text: var(--color-text);
  --color-textSecondary: var(--color-textSecondary);
  --color-border: var(--color-border);
  --color-success: var(--color-success);
  --color-danger: var(--color-danger);
  --color-warning: var(--color-warning);
  --color-link: var(--color-link);
  --color-accent: var(--color-accent);
}