@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-surface: var(--surface);
  --color-surface-hover: var(--surface-hover);

  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);

  --color-text: var(--text);
  --color-text-secondary: var(--text-secondary);

  --color-border: var(--border);

  --color-success: var(--success);
  --color-danger: var(--danger);
  --color-warning: var(--warning);

  --color-link: var(--link);
  --color-overlay: var(--overlay);

  --color-accent: var(--accent);
}